[2019-10-22 13:05] azazellochg opened #5 "hasAcquisition issue"
I've noticed an interesting thing about this property:
1) for Image object hasAcquisition checks for voltage and mag:
https://github.com/scipion-em/scipion-em/blob/devel/pwem/objects/data.py#L565
2) for a SetOfImages object hasAcquisition property only checks if mag is defined:
https://github.com/scipion-em/scipion-em/blob/devel/pwem/objects/data.py#L976

In all the plugins I searched, only img.ha

[2019-12-05 14:17] pconesa commented on #5
I missed this one...actually I don't know what to do. Maybe @delarosatrevin ?

[2019-12-05 14:19] pconesa commented on #5
what about "any", Is this because the object must be present due to model constraints, but can be empty of magnification, voltage, ....?

[2019-12-05 18:41] pconesa opened #14 "core dump when clicking on a em file in the filebrowser."
It crashes when calling the Image.getData() from the binding

[2019-12-24 21:44] azazellochg opened #17 "createAngDistributionSqlite fails"
I would be very grateful if someone helps me to fix this. It worked in scipion 2.0 but not in scipion3/python3 after pwem split. It doesn't work in any plugin.
[code]

[2019-12-28 09:21] azazellochg opened #21 "creating subset fails"
with:
[code]

[2019-12-29 12:17] azazellochg commented on #17
Ok, the problem is that all plugin viewers should use a different base class:

class CryoEFViewer(EmProtocolViewer) rather than class CryoEFViewer(ProtocolViewer):

[2019-12-29 12:17] #17 closed

[2020-01-02 11:52] pconesa commented on #14
This was fixed in xmipp.

[2020-01-02 11:52] #14 closed

[2020-01-10 12:58] rmarabini opened #24 "Make export EMDB protocol more flexible"
This is a suggestion made by the scipion model buing pmanuscript referee:

\protocol{export - EMDB} may be made more modular and allow users to export just a single object (i.e. atomic structure). We plan to modify this protocol for the next \scipion version renaming it to \protocol{export to Data Bank} and providing different options.

The idea is to be able to export just a single object.

[2020-01-12 21:41] azazellochg opened #25 "pwem.tests.data.test_convert_atom_struct.TestAtomicStructHandler fails"
Failed 5 out of 13 tests

[2020-01-12 21:43] azazellochg opened #26 "pwem.tests.data.test_data.TestImageHandler fails"
[code]

[2020-01-12 21:45] azazellochg opened #27 "pwem.tests.protocols.test_protocol_volume_homogenizer.TestVolumeHomogenizer failed"
[code]

[2020-01-12 22:03] azazellochg commented on #21
Fixed by @pconesa

[2020-01-12 22:03] #21 closed

[2020-01-19 16:45] azazellochg opened #30 "deprecate old properties for ctf resolution"
I think it's time to get rid of software-specific labels:

- _ctffind4_ctfResolution
- _gctf_ctfResolution
- _xmipp_ctfCritMaxFreq
- _ctffind4_crossCorrelation
- _gctf_crossCorrelation
- _ctffind4_ctfPhaseShift
- _gctf_ctfPhaseShift

They have been replaced by _phaseShift, _resolution and _fitQuality

[2020-01-19 17:42] azazellochg opened #31 "all tests are discovered twice"
If I run scipion tests --show, I can see the same tests twice.

[2020-01-19 19:48] azazellochg commented on #26
I think it must be xmipp imageHandler problem, since in many tests I get e.g. nonsense numbers for xyz dimensions of vol/spi volumes

[2020-01-19 20:25] azazellochg opened #32 "quotes are not working"
In https://github.com/scipion-em/scipion-em/blob/devel-fixes/pwem/protocols/protocol_import/volumes.py#L307:

`FileNotFoundError: [Errno 2] No such file or directory: '"/home/azazello/soft/scipion3/scipion_home/data/tests/model_building_tutorial/PDBx_mmCIF/1ake_start.pdb"'`

[2020-01-25 18:14] azazellochg opened #41 "add a test to import ctfs from gctf"

[2020-01-25 19:45] azazellochg opened #42 "java/showj plots run forever and are wrong"
I got both ctffind/gctf specific fitting plots fail. Two issues:
1) it takes longer than with scipion 2 to open them
2) when finally opened they are rubbish:
![Screenshot_20200125_194145](https://user-images.githubusercontent.com/6952870/73126495-3c30a580-3fab-11ea-8088-9eb23986f005.png)

Any help debugging what's going on is appreciated.

[2020-01-25 21:13] azazellochg commented on #42
Looks like reading output file is wrong..

[2020-01-25 21:13] #42 closed

[2020-01-27 15:31] #30 closed

[2020-01-28 17:15] azazellochg commented on #26
Should be fine now with last fixes

[2020-01-29 10:13] dmaluenda commented on #26
Oh, thanks @azazellochg !

[2020-02-06 10:52] delarosatrevin commented on #31
This was already fixed in scipion-pyworkflow

[2020-02-06 10:52] #31 closed

[2020-02-19 16:23] JorMaister opened #57 "Unsolved reference in viewer_chimera.py --> ChimeraProjectionClient"
I've found no definition to ChimeraProjectionClient anywhere.

class ChimeraClientView(pwviewer.CommandView):
    """ View for calling an external command. """

    def __init__(self, inputFile, **kwargs):
        self._inputFile = inputFile
        self._kwargs = kwargs

    def show(self):
        if self._kwargs.get('showProjection', False):
            ChimeraProjectionClient(self._inputFile,

[2020-03-24 08:59] delarosatrevin opened #72 "Reference picking radius wizard not working"
Two main problems:
* I think size in pixels and A is wrong. It is showing >100 px when the images are 64px, thus the A size is also wrong
* After accepting the wizard value, it is not properly set in the form

**To Reproduce**
Run a few steps of Relion betagal tutorial and use that wizard for picking with references.

**Expected behavior**
Properly size should be shown and the value set after sele

[2020-03-29 21:13] azazellochg opened #73 "create FSC button is broken"
[code]

[2020-03-30 14:53] EstrellaFG opened #74 "protocol_alignment_assign for subtomograms"
It would be great if `protocol_alignment_assign` will work not only for `SetOfParticles` but `SetOfSubtomograms` or even in a more general way.

[2020-04-07 11:48] #72 closed

[2020-04-15 14:51] azazellochg commented on #57
I think this is long fixed.

[2020-04-15 14:51] #57 closed

[2020-04-15 15:20] azazellochg commented on #26
The problem traced back: getHome returns nothing when convertImage inside eman/convert/convert.py is called. Fix:
[code]
@pconesa is this a good way?

[2020-04-16 05:27] pconesa commented on #26
I'll have a look. Is good if it fixes it...but I find it is a bad design of the core if you need to do that. Let me try to see why variables are not initialized automatically.

[2020-04-16 07:04] pconesa commented on #26
I see what is happening here. When running tests, Plugins are not initialized and defineVariables is not happening. I'll find a place to do this initialization for all tests.

[2020-04-16 07:59] delarosatrevin commented on #26
This happened before in the register plugin call.

On Thu, Apr 16, 2020, 9:05 AM Pablo Conesa <notifications@github.com> wrote:

[2020-04-17 10:59] #26 closed

[2020-04-26 12:36] #73 closed

[2020-04-28 20:43] azazellochg opened #84 "movie alignment protocol does not support batches"

[2020-05-06 11:25] pconesa opened #87 "Dimensions' size cannot be zero nor negative."
@mmmtnez  reported this at #86

Test: scipion3 test --grep phenix --run

There is only one test failing due to the failing of the import volume protocol (scipion3 tests phenix.tests.test_protocol_validation_cryoem.TestValCryoEM.testValCryoEMFFromVolumeAndPDB4) Here you are the problem:

ERROR running protocol import volume hemoglobin
set origin 0.0 0.0 0.0
half1 and half2
FAILED with error: Protoc

[2020-05-06 16:59] azazellochg opened #88 "ctf consensus test fails"
scipion test pwem.tests.workflows.test_workflow_xmipp_ctf_consensus.TestCtfConsensus fails because of this very brave comparison:
https://github.com/scipion-em/scipion-em/blob/daf28211688e84d44595f6d3f107181b9025d930/pwem/tests/workflows/test_workflow_xmipp_ctf_consensus.py#L62

Different ctf estimation programs will never return exactly the same defocus vales.

[2020-05-08 08:32] EstrellaFG commented on #74
solved in https://github.com/scipion-em/scipion-em-tomo/pull/45

[2020-05-08 08:32] #74 closed

[2020-05-25 07:54] rmarabini opened #91 "Streaming process fails when no new data is available"
Version: scipion3

I have been running streaming projects with the workflow

import movies -> motioncor -> CTFfind -> monitor summary

After a while, when all the data is processed, the workflow fails showning the same error in all protocols

Process XXXXXX not found running on the machine. It probably has died or been killed without reporting the status to Scipion. Logs might have information abo

[2020-06-05 13:35] #25 closed

[2020-07-01 09:20] rmarabini opened #107 "chimera show angular distribution does not longer work"
**Describe the bug**
I already commented on this bug in slack but I just report it here:  the viewer of "relion 3D classification" does not work any longer for the option "Display angular distribution - chimera"

**To Reproduce**
Steps to reproduce the behavior:

   Execute protocol relion 3D classification
   open Analize
   select Display angular distribution - chimera
   chimera opens briefly a

[2020-07-02 18:21] azazellochg opened #106 "mask radius wizard values make no sense"
![image](https://user-images.githubusercontent.com/6952870/86396041-254c5880-bc99-11ea-9540-5aa9a0534dad.png)

[2020-07-02 18:46] azazellochg commented on #107
I removed ":mrc" from filenames, so the volumes open but no ang dist displayed. This is broken in eman2 and spider as well. Transferred to pwem

[2020-07-07 10:12] pconesa commented on #88
@azazellochg firstCTF should be the same as refCTF....both should be xmippCTF. Recently consensus had a new parameter to average the ctf values and that is why it was failing.

[2020-07-07 10:13] pconesa commented on #106
@JorMaister has this been fixed?

[2020-07-07 10:18] JorMaister commented on #106
Not yet. Is it a scale problem? Can you provide me a little more information for how would those values be correct?

[2020-07-07 10:25] dmaluenda commented on #88
Hi Both,

Yes, as Pablo said, we updated the CTFconsensus to include a new functionality on averaging the defocus of the two CTFs in the inputs. This functionality can  be turn off in the form.

We had put it as default, but I think now that it would be better to keep the same behavior as before by default (see bc803e6d411bba30d7175012845f9d0ad01b2dd2).

Also, I will include a new test to check th

[2020-07-07 10:27] #88 closed

[2020-07-08 09:30] DStrelak opened #114 "Configuration -> General results in File not Found"
**Steps to reproduce**
Open Scipion3 in (devel), click on Configuration -> General.

**Result**
File not found `config/scipion.conf`

[2020-07-08 09:52] pconesa commented on #114
Thanks. Probably is because is not there. Menu should not appear in that case.

[2020-07-15 11:16] DStrelak opened #117 "Probably wrong version check"
When I run scipion3, I get `The package scipion-pyworkflow is out of date. Your version is 3.0.0a11, the latest is 3.0.0.`
It seems that the check does not expect `a11`.

Branch 'devel'

[2020-07-16 12:40] pconesa commented on #117
It does, semantic versioning site says:
"Pre-release versions have a lower precedence than the associated normal version"

So, 3.0.0a11 is lower than 3.0.0

[2020-07-16 12:40] #117 closed

[2020-07-16 13:01] pconesa commented on #32
Were you introducing quotes in the filed?

[2020-07-16 13:04] pconesa commented on #32
or is this from a test?

[2020-07-16 13:06] azazellochg commented on #32
i cant possibly remember an issue reported half a year ago

[2020-07-16 13:08] pconesa commented on #32
True! I've tested a normal import. Test are passing....
I'm closing this issue. Feel free to reopen it if I'm wrong or missed something.

[2020-07-16 13:08] #32 closed

[2020-07-16 14:03] pconesa commented on #91
@dmaluenda , do you think this is still happening?

[2020-07-16 14:43] dmaluenda commented on #91
TBH, I don't know but I will check it.

Thanks

[2020-07-16 17:49] rmarabini commented on #91
Yes, It happens to my. All data is processed but the protocol end with an
error (pink box) instead of success (green box)

On Thu, Jul 16, 2020 at 4:43 PM David Maluenda Niubó <
notifications@github.com> wrote:

[2020-07-17 12:53] #114 closed

[2020-07-22 10:01] pconesa commented on #107
This should be working now.
I'm closing this issue. Feel free to reopen it if I'm wrong or missed something.

[2020-07-22 10:01] #107 closed

[2020-07-22 10:02] pconesa commented on #91
Is this through ssh?
I'm testing locally, scipion3 template and chose the demo and it works fine?

[2020-07-22 10:23] pconesa commented on #87
This is nos happening to me. It might be fixed?
@mmmtnez ?

[2020-07-22 10:27] pconesa commented on #87
I'm closing this issue. Feel free to reopen it if I'm wrong or missed something.

[2020-07-22 10:27] #87 closed

[2020-07-22 10:42] dmaluenda commented on #91
Same for me. I can't reproduce this.

Cheers,
<http://ucm.es/>

*_____Dr. David Maluenda Niubó*
dmaluenda@cnb.csic.es - (+34) 619 029 310
CSIC - Centro Nacional de Biotecnología <http://www.cnb.csic.es>
BioComputing Unit <http://biocomputingunit.es/>

This email message and any documents attached to it may contain
confidential or legally protected material and are intended solely for the
use of th

[2020-07-29 12:35] pconesa opened #128 "SetOfClasses after manual subset losses the pointer to the Images."
The sets of classes has a pointer as a property to the images.

When making a subset, that new set does not have a pointer to the images in the set.sqlite.
If later you create a subset of representatives, particles, averges.....it tries to use the pointer that is none.

[2020-07-29 12:52] #128 closed

[2020-08-09 06:19] pconesa opened #136 "Sampling rate is lost on averages set."
https://github.com/scipion-em/scipion-em/commit/ce21d24e803fb39ec4c545035f289d2724a5bde3

[2020-08-09 09:48] azazellochg commented on #136
output.copyInfo(inputImages) already supposed to copy sampling rate, why do we need that commit?

[2020-08-10 07:57] pconesa commented on #136
That commit is to allow "representatives" (averages) to have a different sampling rate than the images. This was triggered by the fact that CS 2d classification and ab initio, in some cases output downscaled images and the plugin, by mistake was registered them at the same sampling rate as the images.

We are changing this and we want to scale the volumes/averages back to match the images. But als

[2020-08-11 11:13] #136 closed

[2020-08-16 13:08] azazellochg commented on #106
Endless wizard problems continue: https://github.com/scipion-em/scipion-em/blob/devel/pwem/wizards/wizard.py#L867 this unit is not used at all in the function.
My code:
[code]

The wizard sets/gets value in pixels, while I tell it I want angstroms.

[2020-08-16 13:16] azazellochg opened #138 "BandPassFilterDialog has no mouse events linked"

[2020-08-16 16:18] JorMaister commented on #106
Hi @azazellochg,
I'd beg you to only describe the error found. Personally I think that judgement values such adjetive endless aren't possitive at allí.

[2020-08-16 17:25] azazellochg commented on #106
Hi @JorMaister , I'm afraid there is not much positive about these errors. There is more: CtfDownsampleDialog doesn't consider downsampling for the allowed freq. range (below max freq should be 5A not 2.5A)
![image](https://user-images.githubusercontent.com/6952870/90340113-aa8f9080-dfed-11ea-9d72-c995a90288da.png)

[2020-08-16 18:09] JorMaister commented on #106
Hi @azazellochg,
What I mean is despite the fact that there can be errors present in the code, that kind comments such as 'endless' may be interpreted as beligerant attitude for other project collaborators, which may not be possitive for a collaborative project as Scipion.
Anycase, thanks for reporting. We'll work on it.

[2020-08-30 14:10] #106 closed

[2020-09-28 10:54] azazellochg opened #151 "CtfDialog' object has no attribute 'downVar'"
The wizard in the cistem plugin is not working due to the following error:
[code]

[2020-09-28 11:12] pconesa commented on #151
@JorMaister , could you please take care of this?

[2020-09-28 14:38] JorMaister commented on #151
Sure! I'll have a look.
Thanks, @pconesa

[2020-10-01 10:57] #151 closed

[2020-10-17 20:06] JuhaHuiskonen opened #159 "Relion 2D classification with "Do manual group ctfs" fails"
When the option "Do manual group ctfs" is set to Yes, 'relion -2d classification' fails with the following error:

028:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/python3.8/site-packages/relion/convert/convert_deprecated.py", line 597, in splitInCTFGroups
00029:       oldDefocusU = mdAll.get(md.RLN_CTF_DEFOCUSU, mdAll.firstObject())
00030:   AttributeError: 'xmipp.

[2020-10-17 20:17] JuhaHuiskonen opened #160 "Relion 2D classification with advanced option 'consider alignment as priors' fails"
When 'consider previos alignment' and 'consider alignment as priors'(advanced option) are set to yes, the run fails:

00026:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/python3.8/site-packages/emtable/metadata.py", line 358, in writeStar
00027:       writer.writeTableName(tableName)
00028:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/p

[2020-10-17 20:39] delarosatrevin commented on #159
Thanks for the feedback @JuhaHuiskonen.

@azazellochg I think that I already fixed this issue.

[2020-10-18 07:16] JuhaHuiskonen opened #161 "Relion initial model wrong dimension"
I used box size 600 pix when picking particles using Xmipp. During extraction, box size of 800 pix was used and re-scaled size 200 pix (bin by factor of 4).  My particle box size is thus 200 pix.   However, Relion initial model comes out in 150 pix box. It seems that the box size from SetOfCoordinates (after resizing) is used and not the box size from particle extraction (after resizing).

Scipion

[2020-10-19 16:30] azazellochg opened #162 "unintended streaming?"
Im running scipion 3.0.5 (all devel branches) + relion plugin devel + xmipp release. I have one branch of protocols running in streaming processing items one by one (RHS on the image). I also have another set of movies that run motioncor in relion (on the left of the image). The last one for some reason does streaming (I can see open output set) while I want to process all items. Running with mpi

[2020-10-19 16:33] azazellochg commented on #162
I think I have a hint. When I first started the streaming branch, I copied motioncor protocol and started it in non-streaming. It looks like the streaming status has copied as well.

[2020-10-19 21:32] azazellochg commented on #162
Im starting to think that this is the problem with movie alignment protocol which has STEPS_SERIAL so apparently cannot process all items at once..?

[2020-10-20 07:24] pconesa commented on #162
If I'm right, STEPS_SERIAL shouldn't prevent to run steps in parallel that don't have dependencies to among them.

@delarosatrevin ?

[2020-10-20 07:25] pconesa commented on #162
How does the steps tree look like?

[2020-10-20 16:16] azazellochg commented on #162
The tree would be convertstep, 2k processmovie steps and then createoutput

[2020-10-20 16:52] pconesa commented on #162
Are they "parallel". I guess it is done by the base class, so as the rest.

[2020-10-21 06:57] JuhaHuiskonen opened #163 "Relion optics group image size is not correctly updated by protocols"
This is related to issue #161.

_rlnImageSize in the STAR file under data_optics gets always its original value (e.g. from particle picking).  It seems that at least the following protocols fail to update this value: 'relion - particles extraction' and 'localrec - extract subparticles'.

So currently I think any Relion workflow that changes the box size will fail.

Scipion v 3.0.5

[2020-10-21 07:43] pconesa commented on #163
Thanks @JuhaHuiskonen.

I guss this might be relion related? So I'm sending this there. If I'm wrong send it bak please.

[2020-10-27 09:01] delarosatrevin opened #164 "Table viewer stretches images"
The viewer code is under XmippViz repository, but since it affects scipion-em default viewer, I'm going to report it here.

The problem is that the proportions of the columns for images in the table are set from the first image columns.
For example:

1) motioncor from K3 images (non-square) with thumbnail option
2) CTF estimation  from 1

Then the Analyze results of 2 will show the PSD distorted,

[2020-10-27 09:07] azazellochg commented on #164
Related to https://github.com/I2PC/scipion/issues/2055

[2020-12-13 15:24] JuhaHuiskonen opened #174 "Project names not displayed properly"
After updating to 3.0.7, the main Scipion window does not show project names correctly.  Has the scaling of the fonts or they way fonts are used changed somehow?

<img width="629" alt="Screenshot 2020-12-13 at 17 22 08" src="https://user-images.githubusercontent.com/20352352/102016107-dcc8b900-3d67-11eb-9684-1a27f803a6a4.png">

[2020-12-23 07:29] mmmtnez opened #178 "Cannot open maps with ChimeraX after creating a set of maps"
Hi all,

when you execute the protocol pwem/protocols/protocol_sets.py you cannot visualize the maps with ChimeraX. After pressing Anbalyze Results a results' window is opened. When you select File -> Open with ChimeraX the ChimeraX GUI tries to open but finally gets closed. I've observed this in the test:

scipion3 tests pwem.tests.protocols.test_protocols_import_volumes.TestImportVolumes

(there

[2020-12-23 09:44] azazellochg commented on #178
Duplicate of the https://github.com/scipion-em/scipion-pyworkflow/issues/157

[2020-12-23 09:44] #178 closed

[2021-01-18 12:59] pconesa opened #184 "Measure performance on real sets of:"
Micrographs
Movies
Ctfs
Particles

And optimize

[2021-01-26 15:46] azazellochg opened #185 "particle extraction performance"
[code]

It's checking duplicates or smth else, but it is still running (2h for now) after actual extraction is done.

[2021-01-26 16:08] pconesa commented on #185
umm! is createOutputStep active?

[2021-01-26 16:09] azazellochg commented on #185
No, it has not started yet

[2021-01-26 16:10] pconesa commented on #185
Or maybe the "checkNewOutput"?

[2021-01-26 16:10] azazellochg commented on #185
gsharov  1996766  0.8  0.0 2303248 376740 ?      D    13:02   1:37 python3 /lmb/home/gsharov/soft/scipion3/scipion-pyworkflow/pyworkflow/apps/pw_protocol_run.py /lmb/home/gsharov/cephfs/ScipionUserData/projects/giuseppe_apo_k3_krios1_210121 Runs/001790_ProtRelionExtractParticles/logs/run.db 1790

[2021-01-26 16:11] azazellochg commented on #185
No streaming here

[2021-01-26 16:11] pconesa commented on #185
We need to pay special attention to this one. I think is the one most reported as slow.

[2021-01-26 16:19] pconesa commented on #185
Have you got already output? It might be stall waiting for some code to activate the createOutputStep?

[2021-01-26 16:20] azazellochg commented on #185
I got nothing. Im running with batch=0

[2021-01-26 16:31] pconesa commented on #185
I do not see code generating the output unless is the checkNewOutput (which might be called regardless run in streaming or not)

[2021-01-26 16:32] azazellochg opened #186 "join sets ignore duplicates issue"
This param looks inverted. If I say Yes, it does not ignore and vice versa.

[2021-01-26 16:40] pconesa commented on #186
What do you expect it to do? If active Yes it should "skip" the item with an id already added.

[2021-01-26 16:48] azazellochg commented on #186
I guess I didnt read the long help for this item. For me ignoring duplicates meant "ignore that I join duplicate items" and add them anyway.

[2021-01-26 16:49] azazellochg commented on #186
you can close this if u want

[2021-01-26 16:55] azazellochg commented on #185
It has finally finished:
[code]

[2021-01-26 17:01] pconesa commented on #186
yes, I think we could find a better label. Because both meanings fit.

"Skip duplicates" ?

[2021-01-26 17:02] pconesa commented on #186
"Skip duplicated ids"?

[2021-01-26 17:04] pconesa commented on #185
2h 38 minutes to create the output?  Something smells bad there!!

[2021-01-26 17:05] azazellochg commented on #186
Maybe "Remove duplicates?" with default value "Yes" which will prevent people accidentally joining same items and having problems later.

[2021-01-26 17:08] azazellochg commented on #185
I think time stamps are not printed in correct time, as I do not believe in  createOutputStep < 1s

[2021-01-27 07:54] pconesa commented on #185
I think it is correct, all time spent is probably gone in the "checkNewOutput" limbo and then createOutputStep does nothing.

https://github.com/scipion-em/scipion-em-relion/blob/master/relion/protocols/protocol_extract_particles.py#L182

[2021-01-27 13:34] azazellochg opened #187 "subset selection performance"
I guess I'll make an issue so we can start digging into this long standing problem :)

I'm doing now a simplest case - selecting particles from ONE 3D class (out of 3). Total number of particles is 138436 - not much at all
After clicking OK to create a subset, the whole thing (except Project window) is frozen. Already 1h past it is still populating classes3D_state.sqlite file.

[2021-01-27 13:43] yongshuo-Z opened #188 "Import atomic structure in batch?"
Hi, I have about 100 atomic structures to import and conduct the following processing. Is there any way to import them in batch instead of one by one?

[2021-01-27 14:26] pconesa commented on #188
Do you program in python? There is a way, but it require a bit of scripting.

[2021-01-27 14:29] yongshuo-Z commented on #188
Yes. I am now using the GUI. It will be great if there is a way to program directly.

[2021-01-27 15:27] pconesa commented on #188
Is it a one time thing? It could be an option to use a workflow template. Just thinking out loud.

[2021-01-28 07:06] yongshuo-Z commented on #188
Thanks for the advice. I'm new to this area, but it seems the workflow template can only import movies?  Here is my project flow:
![image](https://user-images.githubusercontent.com/59311975/106102359-3cddb800-617a-11eb-8412-af31e2e4d909.png)

I want to do this in batch. Any advice, please?

[2021-01-28 09:03] pconesa commented on #188
Hi, this should more or less do what you want:
[code]

You must have a txt file with pdbIds, in my case --> pdbs.txt

[code]

To use it:

1.- Have your txt with pdbIds written, I'll assume is pdbs.txt
2.- Create the project: `scipion3 python batchpdb2gallery.py pdbs.txt `
3.-At the end you will see a line to launch it similar to this one:
`scipion3 python /home/pablo/desarrollo/scipion-pyworkflow/

[2021-01-28 09:45] azazellochg commented on #187
ok, I think I killed the performance with my own recent plugin changes. Will have to review. It's never been so long..

[2021-01-28 10:07] pconesa commented on #187
are you using "performance" branch?

[2021-01-28 10:08] pconesa commented on #187
For what you are saying that is happening in Java code? (ShowJ)

[2021-01-28 14:44] yongshuo-Z commented on #188
Thank you very very much for the code!! But I think I need to bother you again:)

Following your instructions, I have created the project and put two pdb IDs in the .txt file. After running the batchAS2gallery, the command line shows:
[code]

and then the cmd appears to run these four lines one by one. However, after finished the first line, it stuck at the second command
[code]

I left it running

[2021-01-28 15:30] azazellochg commented on #187
I dont use performance branch. Yes, it's java code running forever. Create subset protocol takes "only" 1 hour. In my plugin I have added more columns into particles table (63 columns now) so I think this is killing the performance

[2021-01-28 17:50] pconesa commented on #188
What happens if you do it manually in the GUI? Do you see any error in the logs?

[2021-01-28 17:52] pconesa commented on #187
Yes, the more columns the more we will struggle.

[2021-01-29 03:20] yongshuo-Z commented on #188
It works fine with GUI without error in the log.

I have tested some other IDs in the txt file. I found that it always stuck at the above command ending with '39'. The galleries (.stk files) can be created except the last one in the txt file (e.g. if I put 50 ids in the txt file, galleries of the first 49 structures can be created).

Anyway, it won't be a big problem for me and thanks again.

[2021-01-29 09:35] dmaluenda commented on #185
Hi. Yes, my experience says that when something is running when apparently the protocol is inactive (before any step or after all them), it's because checkNewInput() or checkNewOutput() is working hard.

[2021-02-01 14:15] pconesa commented on #186
I don't think is a good idea to "invert" the meaning without creating confusion to the developers or breaking compatibility. Although your suggestion is much clearer.

What about: "Renumber duplicates?" or "Renumber duplicated ids?"  or "Keep duplicated is?"

Default value can  be changed to True.

[2021-02-01 14:34] pconesa commented on #186
You see! this is confusing, my suggestions are inverting the meaning.

My suggestions are not valid, should retain that same meaning with "False" or "True"

[2021-02-01 14:43] pconesa commented on #186
Skip duplicated ids
Remove duplicated ids
Bin duplicated ids

I think similar to this ones will not invert the meaning and the behaviour.

[2021-02-01 14:44] pconesa commented on #186
So, yours, should work! Remove duplicates... ahhh!!

[2021-02-01 15:43] azazellochg commented on #186
if you dont want to change the old value, sure, we can put No for "Remove duplicates". I think including "id" into the label is causing confusion, since taking care of ids can mean a differerent thing compared to taking care of duplicates.

[2021-02-01 21:43] azazellochg commented on #185
One more thing to loo at here is:
[code]
If this could be recoded faster..

[2021-02-02 08:19] pconesa commented on #185
1.5 secs per mic? About how many coords per mic (rough number is enough)?

[2021-02-02 08:24] pconesa opened #190 "use Set.getIds() in ProtUnionSet.duplicatedIds"
Now is using a regular iterItems, just to get the ids. Should be faster just getting the id values and not the objects.

[2021-02-02 08:33] azazellochg commented on #185
It might be that we have problems with that particular pc or filesystem.
I'll try to repeat on ssd and see the speed.

On Tue, Feb 2, 2021, 08:19 Pablo Conesa <notifications@github.com> wrote:

[2021-02-12 13:18] #184 closed

[2021-02-15 09:32] pconesa commented on #186
This was addressed.

[2021-02-15 09:32] #186 closed

[2021-02-16 18:02] pconesa commented on #162
HI @azazellochg , I'm looking into this now. Looking at the code (https://github.com/scipion-em/scipion-em/blob/devel/pwem/protocols/protocol_movies.py#L114) none of the movie alignment protocols will ever run in non streaming mode.

I guess that is not an issue in itself. Maybe more the fact that it does not make parallel processing?

Testing it, I can see MPI value goes to np parameter. Threads

[2021-03-01 08:06] pconesa commented on #187
Hi, @azazellochg , do you need those 63 fields?  Issues related to Java code are harder to address. I don't think we can address this anytime soon unless is python related code.

[2021-03-01 08:08] pconesa commented on #187
There is a team in Czech republic addressing performance issues in the binding and metadata handling... this is the better chance we have for this.

[2021-03-14 15:12] azazellochg opened #200 "test dataset are not initialized"
After the sudden move of all tests datasets definition from pw to pwem, the following command fails:

[code]

Individual tests still work though.

[2021-03-14 18:49] pconesa commented on #200
I should have warned you. Datasets were moved to scipion-em and we need a
small change in scipion-app. Git pull of scipion app should fix it

El dom., 14 mar. 2021 16:13, Grigory Sharov ***@***.***>
escribió:

[2021-03-14 19:00] azazellochg commented on #200
I have done git pull in all repos before creating this issue.

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
Cambridge CB2 0QH, UK.
tel. +44 (0) 1223 267228 <+44%201223%20267228>
e-mail: ***@***.***

On Sun, Mar 14, 2021 at 6:49 PM

[2021-03-15 07:49] pconesa commented on #200
You are right! the --run has a different behaviour. I need to look at
this more in details. Thanks as always!

On 14/3/21 20:00, Grigory Sharov wrote:

[2021-03-15 14:55] #200 closed

[2021-03-29 08:55] pconesa opened #203 "Add new protocol to filter any set by any condition"
When sets are huge there are issues in the viewer to manually disable items for a subset.
It also does not make much sense to go item by item by item to flag them.

[2021-03-31 07:05] JuhaHuiskonen opened #205 "Option to mark an aborted protocol finished?"
Sometimes an iterative protocol, such as Relion 3D classification, fails because of a queue time limit.  For instance, the user has asked 50 iterations, but the job completes only iteration 49.  There are cases when valid outputs from the current iteration have been generated and often can also be used in practise without the need to rerun the protocol with fewer iterations. In such situations, it

[2021-03-31 07:08] pconesa commented on #205
Thanks, Juha!

[2021-04-19 10:59] EstrellaFG opened #211 "Subsets in classes' viewer not working properly for tomo"
Classes' viewer of SPA is used also for classes subtomo when a classification tomo protocol is used (as mltomo), but when creating subsets it creates subsets of Volumes instead of subtomograms, SPAclasses instead of subtomoclasses and Volumes instead of AverageSubtomos. It should create the output set of the same type of objects as the input sets.

[2021-04-21 14:32] #190 closed

[2021-04-30 09:29] Vilax opened #215 "Import volume viewer do not show slices"
When a volume is imported, and the result is analized, only the visualizationin chimera works:

Here the log

java -Xmx2g -Djava.library.path=/home/vilas/opt/scipion/software/em/xmipp/lib -Dplugins.dir=/home/vilas/opt/scipion/software/em/xmipp/bindings/java/imagej/plugins -cp lib/*:/home/vilas/opt/scipion/software/em/xmipp/bindings/java/imagej/*:/home/vilas/opt/scipion/software/em/xmipp/bindings/j

[2021-04-30 09:57] #215 closed

[2021-05-04 09:56] #203 closed

[2021-05-14 06:19] yongshuo-Z commented on #188
Hi, sorry to bother you again. When I run the scripts above, it seem the program consumes all of the memory and makes the computer so slow. I wonder is there a way to limit the use of memory (e.g. the maximum use of memory is 50% of the total memory)?

[2021-05-14 08:58] pconesa commented on #188
How big is your project?

[2021-05-14 12:46] yongshuo-Z commented on #188
I'm just running the above script (almost change nothing) to import pdb structures (400 in total) and convert them to galleries. My computer has 256 GB memory but all of them just run out. quite weird

[2021-05-14 16:38] pconesa commented on #188
Maybe add a time.sleep(60)

To wait one minute after each launch will space processing.

60 are seconds, increase it not enough.
El vie., 14 may. 2021 14:46, yolo-zong ***@***.***> escribió:

[2021-05-17 08:29] #211 closed

[2021-05-22 08:47] yongshuo-Z commented on #188
It helps. Thanks!!

[2021-05-22 08:47] #188 closed

[2021-07-06 10:05] pconesa opened #230 "Very similar methods in picking.."
_updateOutputCoordSet
https://github.com/scipion-em/scipion-em/blob/devel/pwem/protocols/protocol_particles_picking.py#L439

Is quite similar to _updateStreamState
https://github.com/scipion-em/scipion-em/blob/devel/pwem/protocols/protocol_particles_picking.py#L473

[2021-08-02 16:32] jbusselez opened #240 "boog when calling createSetOfClasses2D()"
Hola

When trying to get a subset of 2D classes after a 2d classification (scipion-em version 3.0.11) I got a failure:

Here is the log extract :

00014:   STARTED: createSetStep, step 1, time 2021-08-02 15:46:29.108992
00015:   Source: xmipp3 - cl2d
00016:   Output type: SetOfClasses2D
00017:   Subset (sqlite) file: Runs/000235_XmippProtCL2D/classes2D_state.sqlite,
00018:   Other: 213
00019:   Tr

[2021-08-06 08:09] pconesa commented on #240
Thanks @azazellochg for assigning it.

Johan, could you please send the output of:

`scipion3 run pip list`

[2021-08-06 10:32] pconesa commented on #240
@fonsecareyna82 has already fix this. It is a bug on our side.
We are going to release a hotfix

[2021-08-06 17:21] pconesa commented on #240
Fix is released: scipion-em 3.0.12

[2021-08-06 17:21] pconesa commented on #240
Thanks for reporting it!

[2021-08-06 18:08] jbusselez commented on #240
Thanks for the fast fix

[2021-08-06 18:08] #240 closed

[2021-08-09 10:33] DStrelak opened #243 "Finished protocol can still be modified"
It seems it is possible to change some values of the protocol without saving them, even though the protocol status is `Finished` and have dependent protocols.
This might lead to consistency and tracking issues.

Version:
[code]

To reproduce:

1. Run `TestGPUCorrClassifier` test (`scipion3 tests xmipp3.tests.test_protocols_gpuCorr_classifier.TestGpuCorrClassifier`)
2. Open `xmipp3 - crop/resize pa

[2021-09-02 14:27] pconesa opened #249 "Review extract particles in streaming"
It does not stop properly.

Case 1: Quite often it never stops. Not sure how to reproduce this, but has happened to me several times already

Case 2:  ctf input is already in streaming, but mics are a subset (manual or using trigger data protocol)... so all extraction is done cause all mics are done, but since ctf estimation is still running, protocol does not stop.

[2021-09-02 14:33] pconesa opened #250 "Close all sets when stoping a protocol"
Otherwise other protocols might never start.

[2021-09-02 19:49] DStrelak opened #251 "pwem - export emdb/pdb has two names"
ProtExportDataBases protocol has two names.
In the search box, it's under `pwem - export emdb/pdb`, but in the protocol list in the left pane (switch to `Model building`) it's under `Exports -> export to DB`.

It would be good to be consistent in these names.

[2021-09-02 20:52] dmaluenda commented on #249
Case 1: I'm not sure what is failing but yes, it happened to me some times. I tried to fix it but with no success...

Case 2: It was designed as that. To finish, both mics and ctfs must be closed. Indeed, I think that, in all streaming protocols with more than one input, the behavior is like this. Yes, maybe it's a bug... if just one input is closed, there is no chance to continue with the job, ri

[2021-09-02 22:53] dmaluenda commented on #249
Case 1 might be related with case 2. If some mic or ctf is missing (any pruning or whatever) then, the extract particles will wait for that missing input for ever.

[2021-09-02 23:00] dmaluenda commented on #249
Try with ORs here: https://github.com/scipion-em/scipion-em/blob/aaf797b2ddf89ddad91a0b8cbb980c177b876983/pwem/protocols/protocol_particles.py#L310-L311

[2021-09-02 23:07] dmaluenda commented on #250
Indeed, I think Scipion should take care of: if a protocol is ended (finished, aborted, failed....), it should have all the outputs closed. Maybe, before changing its status from running to any ended state is a good momemt to close all the outputs of that protocol.

[2021-09-03 06:43] pconesa commented on #249
Thanks @dmaluenda ! Case 2 is like you said. Is not common, but possible.

[2022-01-10 17:31] pconesa opened #281 "import coordinates and averages from scipion"
These are missing, we should be able to import coordinates from, ideally any set having coordinates?:
coordinates, particles, classes?

Same for averages: averages, classes2d?

[2022-01-13 06:51] blank222 opened #283 "no moude named pwem.meta"
When I use GAN in deep denoising to denoise particles, I report ModuleNotFoundError: No module named 'pwem.metadata'

[2022-01-13 07:14] pconesa commented on #283
Sorry! what is GAN? Is it an option n a denoising protocol? Which protocol is this? and from which plugin?

[2022-01-13 07:33] blank222 commented on #283
Yes, it is an option of denoising protocol, in Deep Denoising of Xmipp3, we need to use the installed deepLearningToolkit plugin.

[2022-01-13 08:13] pconesa commented on #283
I see, I've assigned this to an xmipp maintainer.

[2022-01-13 08:16] blank222 commented on #283
Thanks a lot.

[2022-01-17 13:49] DStrelak commented on #283
Hi @blank222 ,
We could not reproduce the error, but we fixed one import which looked suspiciously like what you reported.
The change is present in the devel branch of the Xmipp.
Feel free to test them if you use development version of Xmipp.
Otherwise, the change will be available in the next release sometime this month.

[2022-01-17 13:49] #283 closed

[2022-01-17 15:55] Vilax opened #285 "imported .map volumes cannot be visualized with DataViewer"
IMPORTANT: The problem only happens when the volume is visualized with right-click on the output (in the low Scipion panel). If the volume is open with the Analyze results button it properly works

Next error appears in the command line:
`Exception in Tkinter callback
Traceback (most recent call last):
  File "/home/vilas/opt/miniconda3/envs/scipiondevelenv/lib/python3.8/tkinter/__init__.py", line

[2022-01-20 10:43] helgepat opened #287 "No import jobs available"
Hi,
I installed Scipion 3.0 on our workstation running Ubuntu 20.04. I performed the basic tests and they all worked.
My problem is that I do not have anything listed under the "Import" section.
Here is a picture of how it looks to me:
![picture](https://user-images.githubusercontent.com/97705752/150324987-d1d321d3-0d3f-4d3e-b130-d66f747aaa03.png)

I reinstalled and ran from that terminal and got

[2022-01-20 12:47] pconesa commented on #287
It seems xmipp didn't compile properly.
What gives you

scipion3 installb

[2022-01-20 13:19] helgepat commented on #287
Here you go:

scipion3 installb
Scipion v3.0.10 - Eugenius
usage: scipion installb  [-h] binName1 binName2-1.2.3 binName3 ...

positional arguments:
  binName(s)  The name(s) of the bins we want install, optionally with
              version in the form name-version. If no version is specified,
              will install the last one.

optional arguments:
  -h, --help  show help
  -j j        Numb

[2022-01-20 13:28] helgepat commented on #287
I re-ran the basic tests as stated (with "scipion3"):
<h3><a class="toc-backref" href="https://scipion-em.github.io/docs/docs/scipion-modes/verify-installation.html#id4">Basic tests</a><a class="headerlink" href="https://scipion-em.github.io/docs/docs/scipion-modes/verify-installation.html#basic-tests" title="Permalink to this headline"></a></h3>
<div class="wy-table-responsive">

Plugins | Core,

[2022-01-22 22:19] helgepat commented on #287
Hi again,
I just solved the issue by installing the "eman2" and "xmipp2" plugins through the plugin manager.
I guess this issue can be closed.

[2022-01-22 22:19] #287 closed

[2022-01-25 12:22] #285 closed

[2022-01-26 21:52] helgepat opened #289 "Pixel size of output map wrong - MonoRes"
Hi,
I have used Scipion for local resolution estimation by MonoRes with external volumes from Relion 4.0 (.mrc with float16).
For this, I have imported the two half maps and the mask as three separate jobs, defining a pixelsize of 0.72. This is also shown for the output volumes to these jobs. Then, I used these volumes as inputs for MonoRes which also creates an output showing a pixelsize of 0.72.

[2022-01-27 08:18] pconesa commented on #289
Thanks @helgepat for reporting this.

Could you share the volume that is shown wrong in Chimera? Maybe use wetransfer?
We'll fix this.

[2022-01-27 09:24] helgepat commented on #289
Hi,
I created a test volume that re-recreates the problem. You can find it here: https://wolke.chemie.uni-hamburg.de/s/mLSmMjbEb2o5iTd
I also uploaded the logfiles of MonoRes here:
[logs.zip](https://github.com/scipion-em/scipion-em/files/7949206/logs.zip)
Thank you for looking into the issue!

[2022-02-15 09:35] fonsecareyna82 opened #301 "Create a method to determine the cuda version"

[2022-02-19 11:29] pconesa opened #305 "Bug estimating resolution of FSC."
I'm getting this:

Exception in Tkinter callback
Traceback (most recent call last):
  File "/home/scipionuser/miniconda3/envs/scipion3/lib/python3.8/tkinter/__init__.py", line 1892, in __call__
    return self.func(*args)
  File "/home/scipionuser/miniconda3/envs/scipion3/lib/python3.8/site-packages/pyworkflow/gui/form.py", line 1299, in _visualizeVar
    self.visualizeCallback(self.paramName)
  F

[2022-03-25 09:11] VaarinHousutMD opened #315 "Possibility to give half-maps as an input to Relion post-processing"
Hi,

Recently, I ran into an issue while trying to Relion post-process maps that had been Ewalds sphere corrected using Relion Reconstruct. In Scipion, the input of the Relion post-processing can only be a Relion auto-refine process from which the half-maps are read. In most cases this is sufficient. However, if one wants to Relion post-process maps that have been Ewalds sphere corrected, the issu

[2022-04-11 18:40] cossorzano opened #318 "protocol_batch"
The prints of protocol_batch.py line 77 and subsequent cause a UnicodeEncodeError: 'latin-1' codec can't encode character u'xxx' in position 19: ordinal not in range(256)

A simple solution is not to print

[2022-04-12 09:08] pconesa commented on #318
Thanks, @cossorzano , do you know how did you ended up with a "non ascii" character in "sourseSet" .... I guess sqlite basename will be ok... is it maybe a non ascii character in your project path?

[2022-05-26 17:15] cossorzano commented on #318
It failed again in the machine of the course at Pasteur. Have you fixed it?

[2022-05-26 18:19] pconesa commented on #318
I'll remove the print although is not the ideal solution.

[2022-05-26 18:35] cossorzano commented on #318
I am sure that you may keep the print if you put some "encode"-something, but I don't know what

[2022-05-26 18:56] pconesa commented on #318
Can I access that project?

El jue., 26 may. 2022 20:35, Carlos Oscar S. Sorzano <
***@***.***> escribió:

[2022-05-27 08:53] #305 closed

[2022-05-27 11:28] pconesa commented on #318
In this case, in case someone else has this issue. setting the locale of the system to a utf-8 version fixed it:

In ubuntu:
`sudo update-locale LANG=en_GB.utf8`

We will see if there is a better workaround to allow non utf-8 locales, like only using ASCII chars? ;-(

[2022-05-27 11:28] #318 closed

[2022-06-16 11:01] azazellochg opened #335 "Bio.Alphabet is now removed from new biopython"
https://biopython.org/wiki/Alphabet
https://github.com/scipion-em/scipion-em/blob/devel/pwem/objects/data.py#L803

[2022-06-16 16:06] rmarabini commented on #335
OK, I will review this with calm. If we remove Alphabet we need to  update biopython.

[2022-07-03 14:24] azazellochg opened #341 "scipy is not provided by pwem"
The import will only work if you have xmipp installed

https://github.com/scipion-em/scipion-em/blob/ee15591187b2e77a1a7c38a19d2f684058590961/pwem/viewers/plotter.py#L30

[2022-07-05 08:49] #251 closed

[2022-08-03 08:06] azazellochg commented on #341
closed by #346

[2022-08-03 08:06] #341 closed

[2022-08-23 12:41] azazellochg commented on #301
done in https://github.com/scipion-em/scipion-em/pull/345

[2022-08-23 12:41] #301 closed

[2022-08-23 12:45] azazellochg commented on #289
AFAIK, xmipp cannot read float16. Has this changed? Also, I'm not sure xmipp ever wrote correct pixel size into mrc header

[2022-09-13 11:04] pconesa opened #361 "Generate a single item output when manual subset from Java viewer."

[2022-10-11 16:41] delarosatrevin opened #368 "Bug when creating subsets from Showj"
I think I have found a serious bug in showj, when creating outputs from Classification (maybe also in other cases).

For example, 3d classification of particles into 4 classes (volumes here). If I create a subset from particles in class 1 and from the same showj window create subset for class 2. I think showj is only writing a single selection file (state or something) and the first selection can

[2022-10-11 17:21] pconesa commented on #368
Thanks Jose!
I guess it is a "race condition problem" that might have been there since the begining.

[2022-10-31 15:15] akesandgren commented on #335
Please note that this change in Biopython was done in v1.78 back in 2020.
And no, you do not need to update biopython to get rid of the use of Alphabet, it's the other way around.

[2022-10-31 18:07] rsanchezgarc opened #375 "Bug import coordinates"
https://github.com/scipion-em/scipion-em/blob/1d0beb11ea4606be50776c81fdb730a50481fb71/pwem/protocols/protocol_import/coordinates.py#L228

Hi,

This line will make "mic_100_coords.start" match with mic_1.mrc, which is wrong.

I guess that the proper way of dealing with it will be to compare the maximum common substrings.

This is my dirty patch

[code]

[2022-10-31 20:40] pconesa commented on #375
Thanks, and performance wise this is a killer.

[2022-10-31 21:41] azazellochg commented on #375
why are we even checking "in"? Just coordBase == micBase should be enough. Any suffixes etc should not be allowed. That's how it's done by eman and relion outside scipion.

[2022-11-01 21:41] rsanchezgarc commented on #375
I would leave the suffix capable functionality as a fallback method in case you don't find as many micrographs as coordinate files, just in case, but I agree, we should first assume coordBase == micBase and if it is not the case, then fallback to the slow case (that needs bug fixing)

[2022-11-01 21:50] azazellochg commented on #375
I disagree. We should increase performance rather than losing users due to
slow "more smart" parsing. If coordBase != micBase then the coords are not
found.

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
Cambridge CB2 0QH, UK.
tel.

[2022-11-02 08:51] pconesa commented on #375
Thanks, both.
The thing is that at least, due to import renaming, micBase has a complex set of prefixes. All this was triggered by the fact that some user was actually importing micrographs with the same name but in different folders!!

This lead us to have to differentiate both, and then we have that complex micname, in some import cases. I think this happens when we import from /some/path/*/Data

[2022-11-02 08:55] pconesa commented on #375
In terms of performance, it will degrade only in the case the exact match does not happen, which I think is worth trying the relaxed one despite: performance degradation (shouldn't be much if refactored) and possible inaccuracy.

[2022-11-02 09:11] azazellochg commented on #375
@pconesa could you point to import renaming? Here we are not comparing micnames, but filenames only

[2022-11-02 09:21] azazellochg commented on #375
but you are right we do have _aligned_DW stuff after motioncor.

[2022-11-02 10:52] pconesa commented on #375
I was referring to this --> https://github.com/scipion-em/scipion-em/blob/devel/pwem/protocols/protocol_import/images.py#L499

In general.. :

I think "image filename" can't be warrantied to be unique, since there are protocols generating new file with prefixes, suffixes, and basically there wasn't a "rule" to keep the names the same.

For this we have, "micName" (in SPA) and recently TsId (in tom

[2022-11-03 12:58] rmarabini commented on #335
Hi @pconesa ,
     I understand scipion uses right now biopython version 1.76 that requires alphabets.
Obviously the day that we update biopython to a newer version we need to delete alphabets from the sequence object and import protocols. So the question is, does somebody need a newer version of biopython for any reason?

[2022-11-03 14:39] pconesa commented on #335
I think there is no urgency but otherwise, a way to prevent being stuck in an old set of versions.

I'd probably set the aim of updating versions to be compatible with python 3.11 once it is stable enough. (not soon though)

[2022-11-16 11:38] pconesa commented on #375
Use this issue to:

Avoid renaming files at import time if possible. This will prevent mismatch in most of the cases.